<!-- base.php -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/profile/favicon-16x16.png" />
    <link rel="stylesheet" href="/profile/style.css" />
    <script defer src="/profile/script.js"></script>

    <title>Perfil</title>
</head>
<body>
<!-- Barra de navegação -->
<header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/edit">Edit</a></li>
            <li>
                <span id="user-name"></span>
            </li>
            <li><button onclick="logout()">Sair</button></li>
        </ul>
    </nav>
</header>

<div class="main-container">

    <!-- base.php -->
    <template id="dog-form-template">

        <div class="dog-container" data-id=""> <!-- Adicionando o atributo data-id -->
            <div class="dog__image-container">
                <img src="#" alt="dog image" class="dog__image"/>
            </div>

            <div class="dog__info-container">
                <div class="dog__details">
                    <h1 class="dog__data">
                        <span class="dog__name"></span>
                    </h1>
                    <p class="dog__description"></p>
                    <p class="dog__age"></p>
                    <p class="dog__breed"></p>
                    <p class="dog__size"></p>
                    <p class="dog__gender"></p>
                    <p class="dog__neutered"></p>
                </div>
            </div>

            <div class="buttons">
                <button class="button btn-left">
                    <i class="fas fa-trash"></i> DEL
                </button>
                <button class="button btn-right">
                    <i class="fas fa-edit"></i> EDIT
                </button>
            </div>
        </div>
    </template>


</div>


<div class="bottom-container">
    <p>© 2024 All rights reserved</p>
</div>

</body>
</html>
