<!-- base.php -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/profile/favicon-16x16.png" />
    <link rel="stylesheet" href="/profile/style.css" />
    <script defer src="/profile/script.js"></script>

    <title>Perfil</title>
</head>
<body>
<!-- Barra de navegação -->
<header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li>
                <span id="user-name"></span>
            </li>
            <li><button onclick="logout()">Sair</button></li>
        </ul>
    </nav>
</header>

<!-- Conteúdo específico da página -->
<div class="main-container">
    <!-- Template de Card de Cachorro (será usado pelo JS) -->
    <template id="dog-form-template">
        <div class="dog-card">
            <div class="dog__image-container">
                <img class="dog__image" src="#" alt="Dog Image" />
            </div>
            <div class="dog__info-container">
                <div class="dog__details">
                    <h2 class="dog__name"></h2>
                    <p class="dog__description"></p>
                    <p class="dog__age"></p>
                    <p class="dog__breed"></p>
                    <p class="dog__size"></p>
                    <p class="dog__gender"></p>
                    <p class="dog__neutered"></p>
                </div>
            </div>
        </div>
    </template>

    <!-- A área onde os cards dos cachorros serão renderizados -->
</div>

<!-- Rodapé -->
<div class="bottom-container">
    <p>© 2024 All rights reserved</p>
</div>

</body>
</html>
