<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/edit/favicon-16x16.png" />
    <link rel="stylesheet" href="/edit/style.css" />
    <script defer src="/edit/script.js"></script>

    <title>Dog</title>
</head>
<body>
<!-- Barra de navegação com o nome do usuário e botão de logout -->
<header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li>
                <span id="user-name"></span>
            </li>
            <li><button onclick="logout()">Sair</button></li>
        </ul>
    </nav>
</header>

<div class="main-container">
    <!-- Container lateral para adicionar um novo cachorro -->
    <div class="add-container">

        <div class="add-icon" id="addIcon">
            <i class="fas fa-edit"></i>Edit
        </div>

        <div class="add-form" id="addForm" style="display: none">

            <h2 class="title-addform"><span>User Info</span></h2>

            <form id="userForm">
                <input
                        type="text"
                        id="name"
                        name="name"
                        maxlength="24"
                        placeholder="Name"
                />

                <input
                        type="number"
                        id="phone"
                        name="phone"
                        placeholder="Phone"
                />

                <input
                        type="text"
                        id="address"
                        name="address"
                        maxlength="24"
                        placeholder="Address"
                />

                <div class="add-form-control">
                    <button type="submit">Atualizar</button>
                </div>

            </form>


        </div>

    </div>


    </div>

    <div class="bottom-container">
        <p>© 2024 All rights reserved</p>
    </div>

    <div class="preloader hidden" id="preloader">
        <div class="loader" id="loader"></div>
    </div>
</div>

</body>
</html>
